form(style="padding: 24px")
  u(style="margin: 0 0 24px 0")
    input#account(
      required="required"
      placeholder=" "
      autocomplete="username"
      type="email"
    )
    label(for="account") ${I18N.mail}
  button(style="width: 100%" type="submit") ${I18N.ok}
